.id-column {
    width: 5%;
    text-align: left;
}

.tiny-column {
    width: 10%;
    text-align: left;
}

.small-column {
    width: 15%;
    text-align: left;
}

.long-column {
    width: 25%;
    text-align: left;
}

.dealer-item {
    text-decoration: none;
    transition: color 0.3s;
}

.dealer-item:hover {
    color: rgba(104, 85, 224, 1);
    text-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}

.review-icon {
    width: 20px;
    height: auto;
    position: center;
}
